/* Website body custom color*/
body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/*Website home page */

.background-image {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Change width to 100vw */
    height: 100%; /* Remove the height property */
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  

/* Navbar custom style*/
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.6);
}

.navmobileee {
    background-color: black;
    color: white;
}

.black {
    background-color: black;
}

.white-text {
    color: white;
}

/* flash messages */

.flashes h4 {
    line-height: 2;
}

/* buttons for tasks templates( crdits : code institute video) */

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/* Admin Overview Page div style */
.custom-parent-div {
    margin: 0 10%;
    display: flex;
  }
  
  .custom-div {
    height: 80vh;
    /* 80% of the viewport height */
    width: 40vw;
    /* 40% of the viewport width */
    margin: 0 2%;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .divone {
    background-color: #d292e5;
  }
  
  .divtwo {
    background-color: #d292e5;
  }