{% extends "base.html" %}

{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">FAQ</h1>
        <div class="row center">
          <h5 class="header col s12 light">Welcome to our Task Manager FAQ website! We're here to provide you with quick and concise answers to 
            commonly asked questions about our task management platform.
            You'll find solutions to common inquiries about task assignment, status updates, user roles, and more.  </h5>
        </div>
        <div class="row center">
          <a href="{{ url_for('register') }}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign Up Today</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/marble.png" alt="Pink faq background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">Manage your Store Tasks</i></h2>
            <h5 class="center">Creating a task </h5>

            <p class="light">As a new user, you can simply log in to your account and navigate to the "Create Task" section. 
              Here, you will find a user-friendly interface where you can provide all the necessary details for your task. 
              Enter the task name, description, assigned team members, deadline, and any other relevant information. 
              Once you've filled in the required fields, click on the "Create" button, and voila! Your task will be successfully created and added to the task list.
              With our streamlined process, you can efficiently assign and manage tasks, ensuring smooth collaboration and productivity within your team.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">Keep track of your tasks</i></h2>
            <h5 class="center">Updating the status of a task</h5>

            <p class="light">After logging into your account, navigate to the task list where you can view all your assigned tasks.
               Simply click on the task you want to update, and you'll be taken to its details page. Here, you'll find an option to change
               the status of the task. Choose the appropriate status from the provided options, such as "In Progress," "Completed," or "On Hold".
               Once you've made your selection, click on the "Update" button, and the task's status will be successfully updated. It's that simple!</p> 
            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">Manage your team</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">With the Task Manager, you have the ability to manage your team members effortlessly. 
              As an administrator, you can easily edit their names or departments, ensuring accurate and up-to-date information. 
              This functionality allows you to adapt to organizational changes and keep your team's records current. 
              Additionally, if the need arises, you can selectively delete specific users from the system, streamlining your team management process.
              By having control over these aspects, you can maintain an organized and efficient team structure, ensuring smooth operations and effective collaboration within your organization.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Thank you for visiting the FAQ page of Task Manager. We hope you found the answers you were looking for.
            Goodbye and have a productive day!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/marble.png" alt="Pink faq background img 2"></div>
  </div>

{% endblock %}