{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m2" >
        <div class="card-panel">
            <h3 class="center-align light-purple-text.text-darken-4">
                {{ username }}'s Overview
            </h3>
        </div>
    </div>
</div>
<!-- admin div design -->
<div class="row ">
    <div class="col s12 center-align">
        <div class="custom-parent-div">
            <div class="custom-div divone hoverable">
                <h3 class="">
                    My Team
                </h3>
                <ul class="collection ">
                    {% for user in users %}
                    <li class="collection-item avatar">
                        <i class="fa-solid fa-user"></i>
                            {{ user.department }}
                            <span class="title"></span>
                        <p>{{ user.username }} <br>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="custom-div divtwo hoverable">
                <h3 class="">
                    My Daily Tasks
                </h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}