{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col s12 m8 offset-m2" >
        <div class="card-panel">
            <h3 class="center-align light-purple-text.text-darken-4">
                {{ username }}'s Overview
            </h3>
        </div>
    </div>
</div>
<!-- admin div design -->
<div class="row ">
    <div class="col s12 center-align">
        <div class="custom-parent-div">
            <div class="custom-div divone hoverable">
                <h3 class="">
                    My Team
                </h3>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="static/images/profile-picture-1.png" alt="picture-1" class="circle">
                        <span class="title">Department</span>
                        <p>Retail <br>
                            Supervisor in Covent Garden
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">insert_chart</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">play_arrow</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            </div>
            <div class="custom-div divtwo hoverable">
                <h3 class="">
                    My Daily Tasks
                </h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}